/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;

    overflow: overlay;
}

header {
	background-color: #1b1b1d;
	color: #fff;
	padding: 10px;
}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 a {
	text-decoration: none;
	color: #a2ecfb;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
}

header h1 {
	color: #a2ecfb;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
}


nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	font-size: 15px;
	color: #ccc;
	text-decoration: none;
}

.active {
	font-weight: bold;
	color: #fff;
}

nav a:hover {
	color: #a2ecfb;
}

main {
	padding: 20px;
}

.backups {
	margin-top: 20px;
}

.backups h3 {
	margin-top: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ccc;
	padding: 10px;
}

th {
	background-color: #eee;
}

th.action {
	width: 180px;
}

button {
	background-color: #1b1b1d;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: bold;
}

button.restore {
	margin-left: 10px;
}

button.backup-now {
	background-color: #36363b;
	margin-right: 10px;
}

button.backup-now:hover {
	color: #a2ecfb;
}

button.delete:hover {
	color: #ff3434;
}

button.restore:hover {
	color: #4bffb1;
}

footer {
	background-color: #1b1b1d;
	color: #fff;
	padding: 6px;
	text-align: center;
}

*::-webkit-scrollbar {
    display: block;
    width: 6px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
    border-radius: 3px;
}

/* css for settings section */
.settings {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f7f7f7;
  }

  .settings h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
  }

  .settings form div {
	margin-bottom: 10px;
  }

  .settings form label {
	display: inline-block;
	width: 150px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
  }

  .settings form input[type=text],
  .settings form select {
	width: 300px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 16px;
	color: #333;
  }

  .settings form input[type=time] {
	width: 100px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 16px;
	color: #333;
  }

  .settings form select option[selected] {
	font-weight: bold;
  }

  #frequency {
	width: 312px;
  }